@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-black text-white min-h-screen ;
  }
}


/* will change to tailwind css  */

.stats {
  padding: 0 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
}

.stats__img-holder {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid gray; /* Assuming $gray is a variable; replace with the actual color value */
  background: center / 125% no-repeat;
}

.stats__data {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.stats__data__point {
  font-family: sans-serif;
}

.stats__data__point__value {
  font-size: 16px;
  font-weight: 600;
}

.stats__data__point__description {
  font-weight: 300;
  font-size: 14px;
  margin-top: 2px;
}

.description {
  padding: 0 15px;
}

.description h2 {
  font-size: 18px;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.description p {
  margin-top: 4px;
  color: #444;
}

.description a {
  margin-top: 2px;
  color: #0D3A6B;
}



.actions {
  padding: 0 15px;
  margin-top: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 34px;
  grid-column-gap: 6px;
}

.actions__btn {
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid gray; /* Assuming $gray is a variable; replace with the actual color value */
  height: 32px;
  display: block;
  width: 100%;
}

.actions__btn--icon {
  display: flex;
}

.actions__btn i {
  margin: auto;
  font-size: 16px;
}

.actions__btn--active {
  background: blue; /* Assuming $blue is a variable; replace with the actual color value */
  border: 1px solid blue; /* Assuming $blue is a variable; replace with the actual color value */
  color: white;
}

