@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-black text-white min-h-screen ;
  }
}


/* Width and Height of the scrollbar track */
::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
}

/* Track */
::-webkit-scrollbar-track {
  background: #646363;
}


.menu {
  display: flex;
  flex-direction: column;
  gap:2px;
}

.menu span {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 9999px;
  background-color: #fff;
  margin-bottom: 2px;
  transition: 0.3s;
}

.menu:hover span {
  background-color: #555;
}
